<ion-header>
  <ion-navbar color="light">
    <ion-title>Tags</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to reload Tags" refreshingSpinner="circles"
      refreshingText="Reloading Tags...">>
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchTerm" (ionCancel)="onCancel($event)" [showCancelButton]="true"
    (ionClear)="onClear($event)" (ionInput)="SearchTags()"></ion-searchbar>

  <ion-list>
    <button ion-item *ngFor="let tag of tags" (click)="openTagOption(tag.id, tag.name, tag)" class="half-marginbottom">
      {{tag.name}}<span hidden="true">{{tag.id}}</span>
    </button>
  </ion-list>


  <div *ngIf="notags === 'none'" class="marginleft paddingleft marginright paddingright marginbottom">
    <div class="normaltext center bold greentext half-padding" (click)="getlessTags()">
      <i class="fa fa-chevron-circle-up" aria-hidden="true"></i> Back to Top
    </div>
  </div>
  <ion-fab middle right class="fabhanger" #fab1>
      <button ion-fab mini color="dark" (click)="onNewTag()"><i class="fa fa-plus slightly-largetext"
          aria-hidden="true"></i>
        <!-- <ion-label>New Article</ion-label> -->
      </button>
    </ion-fab>

  <ion-infinite-scroll (ionInfinite)="LoadMoreTags($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more tags...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
