page-home {
  
  .logomenu {
    width: 1.5em !important;
    height: 1.5em !important;
  }
  ion-card-header {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
  }

  .card-content-ios {
    padding: 7px 16px 14px !important;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .card-header-ios {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    padding: 11px !important;
  }

  

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent !important;
    border-bottom: none !important;
  }
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 32px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .toolbar-title-md {
    // padding: 0 3em !important;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
    text-align: center !important;
    margin-left: -.5em !important;
}
.toolbar-md {
  padding: 4px;
min-height: 0 !important; 
}