.ios {
  page-tags {
    .text-input-ios {
      margin: 1px 4px 1px 4px !important;
      padding: 0.4em;
      width: calc(100% - 8px);
    }
  }
}
.md {
  page-tags {
    .text-input-ios {
      margin: 1px px 1px 0;
      padding: 0.4em;
      width: calc(100% - 8px);
    }
  }
}
