page-section-display {
  ion-card-header {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
  }

  .card-content-ios {
    padding: 7px 16px 14px !important;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .card-header-ios {
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
    padding: 11px !important;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent !important;
    border-bottom: none !important;
  }




}
.card-md {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
   -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); 
  box-shadow: none !important;
}